* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  width: 1080px;
  height: 2101px;
}

body {
  background: #eee;
}
.screen {
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  background: #fff;
}

.hand {
  margin-left: 200px;
  margin-top: 970px;
}
.hand.is-active {
  color: white;
}

/* ----- BOX -----*/

.box1 {
  width: 593.999px;
  height: 1056.914px;
  position: fixed;
  top: 0px;
  left: 0px;
  transition: all 2s;
}

.box1.is-active {
  top: 150px;
  left: 200px;
}

.box2 {
  width: 456px;
  height: 676.495px;
  position: fixed;
  top: 0px;
  left: 623px;
  transition: all 2s;
}
.box2.is-active {
  top: 150px;
  left: 400px;
}

.box3 {
  width: 401.998px;
  height: 496px;
  position: fixed;
  top: 1423px;
  left: 0px;
  transition: all 2s;
}
.box3.is-active {
  width: 1107px;
  height: 994px;
  top: 450px;
  left: 200px;
}

.box4 {
  width: 581px;
  height: 1217px;
  position: fixed;
  top: 872px;
  left: 500px;
  transition: all 2s;
}
.box4.is-active {
  top: 450px;
  left: 400px;
}

/* ----- H ----- */

.textes {
  /*margin-top: 623px;*/
  margin-top: 370px;
  margin-left: 300px;
}

h1 {
  color: #f00;
  font-family: Inter;
  font-size: 140px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 7px;

  z-index: 100%;
  position: absolute;
}

h2 {
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2.4px;

  margin-top: 175px;
  z-index: 0;
  position: absolute;
}

h3 {
  display: flex;
  width: 319px;
  height: 173px;
  flex-direction: column;
  justify-content: center;
  margin-left: 700px;

  color: #ffffff;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
  z-index: 0;
  position: relative;
}
